.exemple-spacer{
    flex : 1 1 auto;
}
/* Style global pour le toolbar */
mat-toolbar {
    background-color: #1976d2; /* Bleu primaire pour le toolbar */
    color: white; /* Couleur du texte en blanc */
    display: flex; /* Utilisez flex pour la mise en page */
    align-items: center; /* Aligner les éléments au centre verticalement */
  }
  
  /* Style pour les boutons d'icônes */
  .example-icon {
    color: white; /* Couleur blanche pour les icônes */
    margin-right: 10px; /* Ajouter de l'espace entre les boutons */
  }
  
  .favorite-icon {
    color: red; /* Couleur rouge pour le bouton de coeur */
  }
  
  /* Style pour l'espaceur */
  .example-spacer {
    flex-grow: 1; /* Permettre à l'espaceur de remplir l'espace disponible */
  }
  
  /* Style pour les liens de navigation */
  .nav-links a {
    color: white; /* Couleur blanche pour les liens */
    margin-right: 10px; /* Ajouter de l'espace entre les liens */
  }
  
  /* Style pour les boutons de liens */
  .nav-links a:hover {
    text-decoration: underline; /* Ajouter une soulignure survolée */
  }
  
  /* Style pour les boutons d'icônes */
  mat-icon-button {
    padding: 0 10px; /* Ajouter de l'espace entre les boutons */
  }